/* CSS declarations go here */
body{
  font-family: sans-serif;
}
.authForm {
  display: table;
  height: 500px;
  margin:0 auto;
  border: 1px solid grey
}
.form {
  display: table-cell;
  vertical-align: middle;
 padding: 5px;
 width: 600px
}
p{
  text-justify: auto
}